/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* common */
:root {
    --primary-c: #289bde;
    --secondery-c: #1d1d1d;
    --third-c: #777777;
}
p, a {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
}
h1, h2, h3, h4, h5, h6, button {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
}
section, header {
    margin-bottom: 120px;
}
/* header start */
.c-nav ul li a {
    color: var(--secondery-c);
    transition: .3s;
}
.c-nav ul li a:hover {
    color: var(--primary-c);
}
/* header end */

/* banner start */
.banner-inner h5 {
    font-size: 65px;
}
.banner-inner p {
    font-size: 18px;
}
/* banner end */

/* popular courses section start */
.common-header {
    margin-bottom: 50px;
}
.common-header h2 {
    font-size: 45px;
    margin-bottom: 10px;
}
.common-header p {
    line-height: 30px;
}
.c-card-group h5 {
    font-size: 25px;
    color: var(--secondery-c);
}
.c-card-group p {
    font-size: 16px;
    color: var(--third-c);
}
.c-card-group h6 {
    color: var(--primary-c);
    font-size: 18px;
}
/* popular courses section end */

/* the elearning institute section start */
.student-contents {
    padding: 30px 0;
}
.n-and-r h6 {
    font-size: 45px;
    color: var(--secondery-c);
}
.n-and-r p {
    font-weight: 400 !important;
    font-size: 17px;
    color: var(--third-c);
}
/* the elearning institute section end */

/* ready to jond section start */
.reg-inner {
    color: #ffffff;
    background-color: var(--primary-c);
    padding: 80px;
    border-radius: 5px;
}
.reg-inner h1 {
    margin-bottom: 12px;
}
/* ready to jond section end */

/* successful students section start */
.successful-students h5 {
    font-size: 20px;
    color: var(--third-c);
}
/* successful students section end */

/* feedback section start */
.ratings ul li i {
    color: #f59e0b;
}
.review-info p {
    color: var(--third-c);
}
.review-info h5 {
    font-size: 18px;
    color: var(--secondery-c);
}
.review-info h6 {
    font-size: 16;
    font-weight: 400 !important;
    color: var(--third-c);
}
/* feedback section end */

.acc-w {
    width: 60%;
    margin: auto;
}